* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 5%;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #5B21B6;
    cursor: pointer;
}

.logo, .span {
    font-weight: bold;
    font-size: 18px;
} 

.nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    min-width: 450px;
}

.nav-links {
    color: #5B21B6;
    text-decoration: none;
    position: relative;
}

.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b54e2;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: width 0.3s;
}

.nav-links:hover::after {
    width: 100%;
}

.nav-community-btn {
    display: flex;
    align-items: center;
}

.nav-community-btn a {
    text-decoration: none;
    color: white;
    background: #5B21B6;
    padding: 12px 18px;
    border-radius: 50px;
    transition: background 0.3s;
}

.nav-community-btn a:hover {
    background: #491699;
}

.fa-solid.fa-bars, .fa-solid.fa-xmark {
    display: none;
} 

@media (max-width: 1180px){
    .nav-community-btn{
        display: none;
    }
}

@media (max-width: 880px){
    .fa-solid.fa-bars, .fa-solid.fa-xmark {
        display: block;
        cursor: pointer;
    }

    .fa-solid.fa-xmark {
        color: #000000;
        font-size: 25px;
    }

    .nav-lists {
        position: fixed;
        flex-direction: column;
        inset: 0;
        min-width: none;
        width: 100vw;
        justify-content: space-evenly;
        padding: 50px;
        background: linear-gradient(135deg, #8a54e2d3, #b58df5a1);
        backdrop-filter: blur(2px);
        display: none;
    }

    .nav-links {
        color: white;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav-links::after {
        background: #3a3a3a;
    }

    .nav-links:hover::after {
        width: 0;
    }
}

