* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f6f0ff;
    padding: 20px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 86%;
    align-items: center;
    gap: 5%;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #5B21B6;
    cursor: pointer;
}

.logo, .span {
    font-weight: bold;
    font-size: 18px;
} 

.nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    min-width: 450px;
}

.nav-links {
    color: #5B21B6;
    text-decoration: none;
    position: relative;
}

.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b54e2;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: width 0.3s;
}

.nav-links:hover::after {
    width: 100%;
}

.nav-community-btn {
    display: flex;
    align-items: center;
}

.nav-community-btn a {
    text-decoration: none;
    color: white;
    background: #5B21B6;
    padding: 12px 18px;
    border-radius: 50px;
    transition: background 0.3s;
}

.nav-community-btn a:hover {
    background: #491699;
}

.fa-solid.fa-bars, .fa-solid.fa-arrow-right-from-bracket {
    display: none;
} 

/* Hero Section */
.hero {
    background: #f6f0ff;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 86%;
}

.hero-text {
    flex: 1;
}
.hero-text h1 {
    font-size: clamp(37px, 7vw, 70px);
    margin-bottom: 12px;
}

.learn {
    color: #5B21B6;
}

.grow {
    color: #ef4444;
}

.succeed {
    color: #fbbf24;
}

.hero-description {
    max-width: 600px;
    margin-bottom: 12px;
}

.hero-btn {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 15px;
    margin-bottom: 30px;
}

.first-hero-btn {
    text-decoration: none;
    color: white;
    background: #5B21B6;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.3s;
}

.second-hero-btn {
    text-decoration: none;
    color: #5B21B6;
    background: white;
    padding: 9px 15px;
    border: 1px solid #5B21B6;
    border-radius: 50px;
    transition: all 0.3s;
}

.hero-image-div {
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
}

.hero-image-div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.hero-stats {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-profile-container {
    display: flex;
    width: 150px;
    align-items: center;
}

.hero-profile-stat {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.hero-profile-stat img {
    object-position: center;
    object-fit: contain;
    width: 100%;
}

.hero-stat-text {
    display: flex;
}

.hero-stat-text p {
    font-size: 16px;
    color: #333;
}

@media (max-width: 1212px){
    .nav-community-btn{
        display: none;
    }

    .hero {
        padding-top: 49px;
    }

    .hero-container {
        flex-wrap: wrap;
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text h1, .hero-description {
        text-align: center;
    }

}

@media (max-width: 880px){
    .fa-solid.fa-bars, .fa-solid.fa-arrow-right-from-bracket {
        display: block;
        cursor: pointer;
    }

    .fa-solid.fa-arrow-right-from-bracket {
        color: #000000;
        font-size: 20px;
        transition: color 0.15s;
    }

    .fa-solid.fa-arrow-right-from-bracket:hover {
        color: #df3b3b;
    }

    .nav-lists {
        position: fixed;
        inset: 0;
        left: -100%;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        gap: 10px;
        background: linear-gradient(135deg, #8a54e2d3, #b58df5a1);
        backdrop-filter: blur(10px);
        transition: left 0.5s ease;
    }

    .nav-links {
        color: white;
        padding: 15px 0 ;
    }

    .nav-links::after {
        background: #3a3a3a;
    }

    .nav-links:hover::after {
        width: 100%;
    }
}

@media (max-width: 768px){
    .hero-container {
        width: 90%;
    }

    .hero-btn {
        justify-content: center;
        flex-wrap: wrap;
    }
}

